
@font-face {font-family: "iconfont";
  src: url('../../iconfont/iconfont.eot?t=1493802028868'); /* IE9*/
  src: url('../../iconfont/iconfont.eot?t=1493802028868#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../iconfont/iconfont.woff?t=1493802028868') format('woff'), /* chrome, firefox */
  url('../../iconfont/iconfont.ttf?t=1493802028868') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../iconfont/iconfont.svg?t=1493802028868#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:17px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-feeds-smile:before { content: "\e601"; }

.icon-feeds-more:before { content: "\e602"; }

.icon-feeds-forward:before { content: "\e603"; }

.icon-feeds-like:before { content: "\e604"; }

.icon-feeds-comm:before { content: "\e605"; }

.icon-feeds-pic:before { content: "\e606"; }

.icon-edit-video:before { content: "\e607"; }

.icon-edit-comm:before { content: "\e608"; }

.icon-edit-article:before { content: "\e609"; }

.icon-edit-more:before { content: "\e60a"; }

.icon-edit-txt:before { content: "\e60b"; }

.icon-edit-correct:before { content: "\e617"; }

.icon-edit-close:before { content: "\e618"; }

.icon-edit-warn:before { content: "\e619"; }

.icon-edit-error:before { content: "\e61a"; }

.icon-edit-upload:before { content: "\e61b"; }

.icon-edit-publish-video:before { content: "\e61c"; }

.icon-edit-retry:before { content: "\e61d"; }

.icon-edit-camera:before { content: "\e61e"; }

.icon-edit-cancel:before { content: "\e61f"; }

.icon-edit-emoji:before { content: "\e620"; }

.icon-feeds-comm-yet:before { content: "\e621"; }

.icon-feeds-like-yet:before { content: "\e622"; }

.icon-q:before { content: "\e64d"; }

.icon-warn:before { content: "\e64e"; }

.icon-eye:before { content: "\e64f"; }

.icon-exchange:before { content: "\e650"; }

.icon-lock:before { content: "\e651"; }

.icon-tips:before { content: "\e652"; }

