/***********************
模块名：红点提示
作者：rexren（任寒韬）
************************/

.we-redtips{display:inline-block;width:8px;height:8px;border-radius:100%;background:#F27A24;position:relative;margin:0 2px;}
.we-redtips-num{width:auto;min-width:20px;height:16px;border-radius:16px;background:#F27A24;color:#FFFFFF;position:relative;font-size:12px;font-weight:100;padding:0 3px;}